@charset "utf-8";

/* CSS Document */
.font {

  font-family: cooper-black-std, serif;
  /*  font-weight: 400;*/
  font-style: normal;
  color: #FFFFFF;

}

.heading {

  font-weight: bold;
  font-size: 3.5vh;

}

.panel_1 {

  float: left;
  width: 36vw;
  padding-top: 0.01vh;
  padding-bottom: 0.01vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.panel_2 {

  float: right;
  width: 36vw;
  padding-top: 0.01vh;
  padding-bottom: 0.01vh;
  padding-left: 2vw;
  padding-right: 2vw;

}

.layer_1 {

  padding-top: 11vh;
  padding-left: 13vw;
  padding-right: 13vw;

}

.header {

  /*padding:0.001em; */
  font-size: 3vh;
  padding: 0.01em 16px;
  padding-left: 7vw;
  /* Noch bearbeiten kasten für header zu kelin*/

}

.fixed-header {

  width: 100%;
  position: fixed;

}

.layer_left {

  /* padding-top ändern zum verschieben der Boxen auf der Y-Achse*/
  padding-top: vh;
  float: left;
  padding-bottom: 12vh;
  /*change padding bottom to chane footer distance to text*/

}

.layer_right {

  /* padding-top ändern zum verschieben der Boxen auf der Y-Achse*/
  padding-top: 20vh;
  float: right;
  /*padding-bottom: 12vh; */
  /*change padding bottom to chane footer distance to text*/

}

.img {

  max-width: 100%;
  height: auto;

}

.no_padding {

  padding: 0px

}

#corners {

  border-radius: 25px;
  /*background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;*/

}

.gradient_1 {

background: linear-gradient(240deg, #FC466B 0%, #3F5EFB 100%);

}

.gradient_2 {

  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);


}


.gradient_3 {

  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);

}


.gradient_4 {

  background-color: #08AEEA;
  background-image: linear-gradient(240deg, #08AEEA 0%, #2AF598 100%);

}


.gradient_5 {

  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}


.gradient_6 {

  background: linear-gradient(140deg, rgba(33,212,253,1) 0%, rgba(88,33,255,1) 100%);

}


.gradient_7 {

  background: linear-gradient(315deg, #00d2ff 0%, #3a47d5 100%);

}


.gradient_8 {

  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);


}
/* Halul hier ist Ende ( U w U )
