@charset "utf-8";
/* CSS Document */
/*.header_anpassug {

  padding-left: 10px;


}*/


.panel_1 {

  float: left;
  width: 48vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;

}


.panel_2 {

  float: right;
  width:  48vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;

}


.w3-container {

  padding-top: 4vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;

}


.header {

  /*padding:%;*/
  font-size: 3vh  ;

  /* Noch bearbeiten kasten für header zu kelin*/

}


.w3-container4 {

/* padding-top ändern zum verschieben der Boxen auf der Y-Achse*/

  padding-top: vh;
  float: left;

}


.w3-container5 {

/* padding-top ändern zum verschieben der Boxen auf der Y-Achse*/

  padding-top: vh;
  float: right;

}

#corners {
  border-radius: 25px;
  /*background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;*/
}


#header {

  position: fixed;

}
/* Halul hier ist Ende ( U w U )
