@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

.standard {
	
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"

}